*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* COLORS  */
  /* white */
  --white: #ffffff;

  /* orange */
  --orange: #ffb457;

  /* red */
  --red: #ff0000;

  /* green */
  --green: #00f9b0;

  /* yellow */
  --yellow: #ffe797;

  /* blue */
  --blue: #9999fb;

  /* pink */
  --pink: #ff96bd;

  /* black*/
  --black: #1d1d27;

  /* grey */
  --grey: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.4),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* typography */
  --defaultFontSize: 100%;
  --headingFont: "Inconsolata", monospace;
  /* --bodyFont: "Montserrat", sans-serif; */
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-0);
  --textColor: var(--grey-1000);
  --textLightColor: var(--white);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

html {
  font-size: var(--defaultFontSize);
  box-sizing: border-box;
}
/* @media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}  */
/* @media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
} */

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  /* font-family: var(--bodyFont); */
  font-weight: 400;
  line-height: 1.75;
}
.app_container {
  height: 100vh;
}
.side_bar {
  /* background-color: var(--blue); */
  height: 10vh;
  width: 100vw;
}
.side_bar_row {
  height: 100%;
}
.nav_bar {
  height: 10vh;
}

.page {
  height: 90vh;
}

.footer {
  height: 15%;
  width: 100%;
  color: var(--grey);
  text-align: center;
  background-color: var(--grey-1000);
  display: none;
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 100%;
  }
  .side_bar {
    height: 100%;
    width: 15vw;
  }
  .page {
    height: 100vh;
    width: 85vw;
  }
  .nav_bar {
    height: 80%;
  }
  .footer {
    display: inline-block;
    max-height: 100px;
  }
}
/* LOGO */
.logo_letters {
  position: relative;
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  font-size: 10px;
}
.logo_letters span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 9rem;
  margin-left: -35px;
  line-height: 9rem; /* height*2 - font-size */
  text-align: center;
  transform-origin: top center;
}
.logo_letters span:nth-of-type(1) {
  transform: rotate(75deg);
}
.logo_letters span:nth-of-type(2) {
  transform: rotate(50deg);
}
.logo_letters span:nth-of-type(3) {
  transform: rotate(25deg);
}
.logo_letters span:nth-of-type(4) {
  transform: rotate(0deg);
}
.logo_letters span:nth-of-type(5) {
  transform: rotate(-25deg);
}
.logo_letters span:nth-of-type(6) {
  transform: rotate(-50deg);
}
.logo_letters span:nth-of-type(7) {
  transform: rotate(-75deg);
}
